### Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [4]:
favourite_movies = ['Harry porter','spiderman','deadpool','Avengers']

In [5]:
favourite_movies

['Harry porter', 'spiderman', 'deadpool', 'Avengers']

In [6]:
favourite_movies.append('The 300 Spartans')

In [7]:
favourite_movies

['Harry porter', 'spiderman', 'deadpool', 'Avengers', 'The 300 Spartans']

### Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [9]:
integers = [1,2,3,4,5,6,7,8,9,10]

In [10]:
integers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
sum_numbers = sum(integers)

In [12]:
sum_numbers

55

### Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [15]:
list = ['Rust','python','javascript',1,2,3,1.1,1.2,1.3]
list

['Rust', 'python', 'javascript', 1, 2, 3, 1.1, 1.2, 1.3]

In [20]:
list.pop(0)

'Rust'

In [21]:
list

['python', 'javascript', 1, 2, 3, 1.1, 1.2, 1.3]

### Create a tuple containing the names of the days of the week and print it. Access and print  the name of the third day.

In [23]:
name_of_days = ('sun','mon','tue','wed','thu','fri','sat')
name_of_days

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [24]:
name_of_days[2]

'tue'

### Create a tuple of your favorite colors and print it. Check if a certain color is present in the 
tuple and print the result.

In [25]:
colours = ('Red','Blue','green')
colours

('Red', 'Blue', 'green')

In [26]:
certain_colour = 'brown'
if certain_colour in colours:
    print("colour found")
else:
    print("colour not found")

colour not found

### Create a dictionary representing the information of a book with keys "title", "author", and  "year" and print it. Update the year of the book and print the updated dictionary.

In [29]:
books = {'title':'Rich Dad Poor Dad','author':'Robert Kiyosaki','year':'1998'}
books

{'title': 'Rich Dad Poor Dad', 'author': 'Robert Kiyosaki', 'year': '1998'}

In [ ]:
books['year']=2000
books

### Create a dictionary containing the names of fruits as keys and their corresponding colors as values and print it. Add a new fruit-color pair to the dictionary and print the update 
dictionary.

In [32]:
dict_fruits = {'Apple':'Red','Banana':'Yellow','Grapes':'Green','Brown':'Kiwi'}
dict_fruits

{'Apple': 'Red', 'Banana': 'Yellow', 'Grapes': 'Green', 'Brown': 'Kiwi'}

In [33]:
dict_fruits.keys()

dict_keys(['Apple', 'Banana', 'Grapes', 'Brown'])

In [34]:
dict_fruits.values()

dict_values(['Red', 'Yellow', 'Green', 'Kiwi'])

In [35]:
dict_fruits['papaya']='Orange'

In [36]:
dict_fruits

{'Apple': 'Red',
 'Banana': 'Yellow',
 'Grapes': 'Green',
 'Brown': 'Kiwi',
 'papaya': 'Orange'}

### Create a dictionary representing the population of different cities with keys as city names 
and values as population numbers and print it. Remove a city from the dictionary and prin 
the modified dictionary.

In [37]:
population = {'kathmandu':'300000','Bhaktapur':'200000','Lalitpur':'250000','pokhara':'400000','Bharatpur':'100000'}
population

{'kathmandu': '300000',
 'Bhaktapur': '200000',
 'Lalitpur': '250000',
 'pokhara': '400000',
 'Bharatpur': '100000'}

In [39]:
population.pop('Lalitpur')

'250000'

In [40]:
population

{'kathmandu': '300000',
 'Bhaktapur': '200000',
 'pokhara': '400000',
 'Bharatpur': '100000'}